# Environment variables for Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
API_URL=http://api_dev:3001

SESSION_SECRET=[openssl rand -base64 32]
# Example:
# SESSION_SECRET=Rz3jjtqrM/RaB6eseuUZ58lVmXiK09rW544kr5M5lJY=
