@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* -------------- Colors -------------- */
    /* Required shadcn variables */
    --background: 30 36% 96%; /* beige-100 */
    --foreground: 252 7% 13%; /* grey-900 */
    --card: 0 0% 100%; /* white */
    --card-foreground: 252 7% 13%; /* grey-900 */
    --border: 0 0% 70%; /* grey-300 */
    --input: 0 0% 70%; /* grey-300 */
    --ring: 252 7% 13%; /* grey-900 */
    --radius: 0.5rem;

    /* Actual color palette */
    --beige-500: 23 6% 57%;
    --beige-100: 30 36% 96%;
    --grey-900: 252 7% 13%;
    --grey-500: 0 0% 41%;
    --grey-300: 0 0% 70%;
    --grey-100: 0 0% 95%;
    --green: 177 52% 32%;
    --yellow: 28 73% 81%;
    --cyan: 190 52% 68%;
    --navy: 248 8% 41%;
    --red: 7 58% 50%;
    --purple: 259 30% 56%;
    --purple-alt: 288 29% 62%;
    --turquoise: 180 16% 42%;
    --brown: 21 30% 44%;
    --magenta: 332 30% 44%;
    --blue: 205 48% 47%;
    --navy-grey: 214 11% 63%;
    --army-green: 83 20% 47%;
    --gold: 47 50% 59%;
    --orange: 18 47% 52%;
    --white: 0 0% 100%;

    /* -------------- Typography -------------- */
    /* Font sizes */
    --font-size-display: 3.2rem;
    --font-size-heading: 2rem;
    --font-size-subheading: 1.6rem;
    --font-size-body: 1.4rem;
    --font-size-caption: 1.2rem;
    /* Line heights */
    --line-height-tight: 120%;
    --line-height-normal: 150%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    font-size: 62.5%; /* Makes 1rem = 10px */
  }
}

body {
  @apply bg-background text-foreground font-sans;
}
